In [4]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2

In [6]:
data = pd.read_csv('pimaIndiansDiabetes.csv')

In [7]:
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [8]:
x = data.drop('1', axis=1)

In [11]:
y = data['1']

In [15]:
#Using chi2 for scoring
testChi2 = SelectKBest(score_func=chi2, k=4)
fit = testChi2.fit(x, y)
print(fit.scores_)

[  110.72718168  1406.59049075    17.50499769    51.00789486  2219.39781908
   127.67149145     5.35636428   178.01076049]

In [54]:
scores = fit.scores_.tolist()

In [56]:
#Ordering the column indices with their respective scores in descending order
columnIndices = list()
columnScores = list()
for iterator in range(len(scores)):
    max = 0
    maxIndex = 0
    for i in range(len(scores)):
        if(scores[i] > max):
            max = scores[i]
            maxIndex = i
    columnIndices.append(maxIndex+1)
    columnScores.append(scores[maxIndex])
    scores[maxIndex] = 0

print(columnIndices, columnScores)

[5, 2, 8, 6, 1, 4, 3, 7] [2219.3978190819216, 1406.5904907482575, 178.01076048822168, 127.67149144560906, 110.7271816803478, 51.00789486358045, 17.50499769328072, 5.356364283214546]