In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('processed_student-mat.csv')

In [3]:
def categoricalToNumerical(column) :
    value = column[0]
    if value == "yes":
        return 1
    elif value == "no":
        return 0

In [4]:
def twoWayCategorical(column):
    if(column == "yes" or column == "no"):
        return True
    else:
        return False

In [5]:
for column in data.columns:
    if(twoWayCategorical(data[column][0]) == True):
        data[column] = data[[column]].apply(categoricalToNumerical, axis=1)

In [6]:
def schoolCatToNum(column):
    value = column[0]
    if value == "GP":
        return 1
    elif value == "MS":
        return 0

In [7]:
def sexCatToNum(column):
    value = column[0]
    if value == "M":
        return 1
    elif value == "F":
        return 0

In [8]:
def addressCatToNum(column):
    value = column[0]
    if value == "U":
        return 1
    elif value == "R":
        return 0

In [9]:
def famsizeCatToNum(column):
    value = column[0]
    if value == "GT3":
        return 1
    elif value == "LE3":
        return 0

In [10]:
def PstatusCatToNum(column):
    value = column[0]
    if value == "A":
        return 1
    elif value == "T":
        return 0

In [11]:
data['school'] = data[['school']].apply(schoolCatToNum, axis=1)

In [12]:
data['sex'] = data[['sex']].apply(sexCatToNum, axis=1)

In [13]:
data['address'] = data[['address']].apply(addressCatToNum, axis=1)

In [14]:
data['famsize'] = data[['famsize']].apply(famsizeCatToNum, axis=1)

In [15]:
data['Pstatus'] = data[['Pstatus']].apply(PstatusCatToNum, axis=1)

In [16]:
data.head()

,Unnamed: 0,school,sex,address,famsize,Pstatus,schoolsup,famsup,paid,activities,...,goout,Dalc,Walc,health,absences,failures,G2,G1,G3,result
0,1,1,0,1,1,1,1,0,0,0,...,4,1,1,3,6,0,6,5,6,fail
1,2,1,0,1,1,0,0,1,0,0,...,3,1,1,3,4,0,5,5,6,fail
2,3,1,0,1,0,0,1,0,1,0,...,2,2,3,3,10,3,8,7,10,pass
3,4,1,0,1,1,0,0,1,1,1,...,2,1,1,5,2,0,14,15,15,pass
4,5,1,0,1,1,0,0,1,1,0,...,2,1,2,5,4,0,10,6,10,pass

In [17]:
data.to_csv('preprocessedData.csv', sep=',')